@import 'import/sass_classes.scss';

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 56px;
}

.b {
  font-weight: 700;
}

.bodoni {
  font-family: 'Bodoni Moda', serif;

}

#frmtHead {
  background-color: #000;
  padding         : 8px 0;
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 100%;
  z-index         : 100;

  .scroll {
    img {

      @include maxWidth(767px) {
        @include center(both);
      }
    }
  }
}

#lang-wrapper {
  position: relative;

  ul {
    margin          : 0;
    padding         : 0;
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 42px;
    height          : 36px;
    overflow        : hidden;
    background-color: #000;
    @include transition();

    &:hover,
    &:focus {
      height: 80px;
    }
  }

  li {
    list-style-type: none;
    padding        : 8px 4px;
  }
}

#menu-btn {
  padding-top: 8px;
  display    : inline-block;
  border     : none;
  background : transparent;
  cursor     : pointer;

  &:focus,
  &:active {
    outline: none;
  }
}

#menu {
  position        : fixed;
  top             : 56px;
  left            : 0;
  width           : 0;
  height          : 100vh;
  z-index         : 50;
  background-color: #fe596d;
  display         : flex;
  overflow        : hidden;
  @include transition();

  &.active {
    width: 100%;
  }

  ul {
    margin : auto;
    padding: 0;
  }

  li {
    list-style-type: none;
    white-space    : nowrap;
  }

  a {
    @include fontSettings(24px, 700, #fff);

    @include minWidth(768px) {
      font-size: 48px;
    }
  }

  .closeMenu {
    position  : absolute;
    top       : 20px;
    right     : 20px;
    border    : none;
    background: transparent;
    cursor    : pointer;

    &:focus,
    &:active {
      outline: none;
    }
  }
}

section {
  position: relative;
  overflow: hidden;

  .h1,
  h1 {
    @include maxWidth(991px) {
      font-size: 1.5rem;
    }
  }

  &#home {
    padding-top   : 50px;
    padding-bottom: 50px;

    h1 {
      font-weight: 700;
    }
  }

  &>.img-fluid {
    z-index: 10;

    @include maxWidth(1023px) {
      width    : 100%;
      max-width: none;
      height   : auto;
      @include center(both);
    }

    @include maxWidth(767px) {
      width: auto;
      height: 150%;
    }
  }

  &>p {
    max-width: 80%;
    margin   : 25px auto;

    @include minWidth(992px) {
      font-size: 28px;
    }
  }

  .explain-box {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    width           : 160px;
    height          : 160px;
    background-color: #fe596d;
    border          : solid 3px #fff;
    border-radius   : 30px;
    position        : relative;
    z-index         : 20;
    padding         : 15px;
    color           : #fff;
    text-align      : center;
    float           : right;
    margin          : 30px 15px;

    @include minWidth(992px) {
      width   : 448px;
      height  : 338px;
      position: absolute;
      top     : 50%;
      right   : 150px;
      margin  : -169px 0 0 0;
    }

    img {
      width     : auto;
      max-height: 18px;

      @include minWidth(992px) {
        max-height   : none;
        margin-bottom: 5px;
      }

      margin-bottom: 15px;
    }

    h2 {
      font-size: 1.2rem;

      @include minWidth(992px) {
        font-size: 3rem;
      }
    }

    p {
      margin   : 0;
      font-size: .8rem;

      @include minWidth(992px) {
        font-size: 2rem;
      }
    }
  }

  &#video {
    background-color: #000;
    color           : #fff;

    .vid-container {
      width        : 100%;
      padding-top  : calc(75vw + 60px);
      position     : relative;
      border-bottom: solid 3px #fe596d;

      @include minWidth(768px) {
        width        : 50%;
        padding-top  : calc((100vh * .75) + 60px);
        margin       : 30px auto;
        border-bottom: none;
      }

      h2 {
        position   : absolute;
        top        : 0;
        width      : 100%;
        font-size  : 1rem;
        padding-top: 10px;

        @include minWidth(1200px) {
          font-size  : 2rem;
          padding-top: 0;
        }
      }

      iframe {
        position: absolute;
        top     : 60px;
        left    : 0;
        width   : 100%;
        height  : calc(100% - 60px);
      }
    }
  }
}

#frmFooter {
  background     : #000;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  color          : #fff;
  padding        : 20px 0;

  img {
    margin-bottom: 15px;
  }

  ul {
    margin : 0 0 15px 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display        : inline-block;
  }

  a {
    color  : #fff;
    padding: 0 4px
  }

  p {
    margin: 0
  }
}